//@import url("XXXXX.css");

/* Fonts */

/* @font-face {
    font-family: "XXXXX";
    src: url("../fonts/XXXXX.woff2") format("woff2");
} */

/* Set-up */

html {
    visibility: hidden; /* Hack to avoid FOUC */
    background-color: #FFF;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    overflow-anchor: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 24px;
    margin: 0;
    line-height: 1.25;
    font-weight: normal;
}

p {
    margin: 0;
    line-height: 1.5;
    overflow-wrap: break-word;
}

a {
    color: #000;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
}

@media (hover: hover) {
    a:hover {
        color: #999;
    }
}

a:active {
    color: #999;
}

/* Forms */

input:not([type="checkbox"]):not([type="radio"]),
textarea {
    margin: 0;
    outline: none;
    box-sizing: border-box;
    padding: 8px;
    font-family: sans-serif;
    font-size: 14px;
    border: none;
    color: #000;
    border-radius: 0;
}

textarea {
    line-height: 1.5;
}

input[type="checkbox"],
input[type="radio"] {
    outline: none;
    vertical-align: text-top;
}

select {
    font-family: sans-serif;
    font-size: 16px;
    outline: none;
    height: 32px;
    border: none;
    color: #000;
}

button {
    margin: 0;
}

::placeholder {
    color: #999;
}

.field-error,
.field-error::placeholder {
    color: #F00 !important;
}

/* Animation */

.fade-in-1 {
    animation: fadeIn linear 1s forwards;
}

.rotate-1 {
    animation: rotating linear 1s infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Global */

.clear {
    clear: both;
}

@media only screen and (max-width: 1023px) {

}

@media screen and (orientation: portrait) {

}