/* Fonts */

@font-face {
  font-family: "itc-avant-garde-gothic-lt-bold";
  src: url("assets/fonts/itc-avant-garde-gothic-lt-bold.woff2") format("woff2");
}

@font-face {
  font-family: "avgb";
  src: url("assets/fonts/avgb.woff2") format("woff2");
}

/* Vars */

:root {
  --df-orange: #F60;
  --dd-yellow: #FC0;
}

/* Set-up */

html {
  background-color: var(--df-orange);
}

body {
  font-family: "avgb", sans-serif;
  font-size: 14px;
  color: #FFF;
  line-height: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  overflow-anchor: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "itc-avant-garde-gothic-lt-bold", sans-serif;
  margin: 0;
  line-height: 1.25;
  font-weight: normal;
}

p {
  margin: 0;
  line-height: 1.5;
  overflow-wrap: break-word;
}

a {
  color: #FFF;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

/* Form */

select {
  -webkit-appearance: none;
  font-family: "itc-avant-garde-gothic-lt-bold", sans-serif;
  font-size: 18px;
  outline: none;
  height: 48px;
  border: none;
  border-radius: 999px;
  background-color: #000;
  color: #FFF;
  padding-left: 20px;
  padding-right: 52px;
  background-image: url("assets/img/icon-arrow.png");
  background-repeat: no-repeat;
  background-size: 28px 28px;
  background-position: top 12px right 16px;
}

/* Global */

.clear {
  clear: both;
}

section {
  display: flex;
  width: 100%;
  height: calc(100% - 96px);
  justify-content: center;
  position: absolute;
  padding: 32px;
  top: 96px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1023px) {
  section {
    padding: 16px;
    height: calc(100% - 80px);
    top: 80px;
  }
}

@media screen and (orientation: portrait) {
  section {
    flex-direction: column;
  }
}

button.big-button {
  line-height: 1;
  color: #000;
  background-color: #FFF;
  font-size: 18px;
  border-radius: 999px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  font-family: "itc-avant-garde-gothic-lt-bold", sans-serif;
  transition: background-color 0.15s linear;
}

@media (hover: hover) {
  button.big-button:hover {
    background-color: var(--dd-yellow);
  }
}

button.big-button:active {
  color: #FFF;
  background-color: var(--dd-yellow);
  transition: none;
}

button.icon-button {
  background-color: #000;
  border-radius: 999px;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s linear;
}

@media (hover: hover) {
  button.icon-button:hover {
    background-color: var(--dd-yellow);
  }
}

button.icon-button:active {
  background-color: var(--dd-yellow);
  transition: none;
}

button.icon-button:active img {
  filter: invert(1);
}