/* Events */

#sectionEvents {
  display: inline;
  height: auto;
  padding: 0;
  padding-top: 32px;
}

@media only screen and (max-width: 1023px) {
  #sectionEvents {
    padding-top: 16px;
  }
}

/* Group */

.eventGroup {
  padding: 32px;
  padding-right: 0;
  width: 100%;
  box-sizing: border-box;
}

.eventGroup h2 {
  color: #000;
  font-size: 72px;
  letter-spacing: -2px;
  line-height: 1;
}

.groupEvents {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: inline-flex;
  scrollbar-width: none;
  height: 446px;
}

.groupEvents::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1023px) {
  .eventGroup {
    padding: 16px;
    padding-right: 0;
  }

  .eventGroup h2 {
    font-size: 48px;
  }

  .groupEvents {
    height: 346px;
  }
}

/* Event */

.event {
  float: left;
  height: 422px;
  margin-top: 24px;
  flex-shrink: 0;
  padding-right: 32px;
}

.event.upcoming {
  opacity: 0.5;
  pointer-events: none;
}

.eventInfo {
  background-color: #000;
  height: 100%;
  width: 260px;
  float: left;
  box-sizing: border-box;
  padding: 16px;
  padding-top: 0;
  position: relative;
}

.eventInfo span {
  line-height: 1;
  font-size: 18px;
  margin-top: 16px;
  display: block;
  padding-bottom: 4px;
}

.eventInfo h3,
.eventInfo h4 {
  font-size: 36px;
  color: var(--df-yellow);
  padding-bottom: 12px;
  border-bottom: 1px solid var(--df-pink);
  line-height: 1;
}

.eventInfo h4 {
  font-size: 24px;
  color: #FFF;
}

.infoPrizes {
  height: 106px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.infoPrizes::-webkit-scrollbar {
  display: none;
}

.infoPrize {
  width: 64px;
  height: 64px;
  border-radius: 999px;
  margin-bottom: 6px;
  margin-top: 6px;
  margin-right: 12px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "itc-avant-garde-gothic-lt-bold", sans-serif;
  font-size: 36px;
  background-color: #FFF;
  color: #000;
  overflow: hidden;
}

.infoPrize img {
  width: 100%;
}

.eventInfo button {
  position: absolute;
  bottom: 16px;
  width: calc(100% - 32px);
  color: #FFF;
}

.eventInfo button:active {
  color: #000;
}

.event img {
  height: 100%;
  float: left;
}

@media only screen and (max-width: 1023px) {
  .event {
    height: 330px;
    padding-right: 16px;
    margin-top: 16px;
  }

  .eventInfo {
    width: 192px;
    padding: 12px;
    padding-top: 0;
  }

  .eventInfo span {
    font-size: 14px;
    margin-top: 12px;
  }

  .eventInfo h3,
  .eventInfo h4 {
    font-size: 30px;
    padding-bottom: 6px;
  }

  .eventInfo h4 {
    font-size: 18px;
  }

  .infoPrizes {
    height: 76px;
  }

  .infoPrize {
    width: 48px;
    height: 48px;
    margin-top: 8px;
    margin-right: 8px;
    font-size: 30px;
  }

  .eventInfo button {
    bottom: 12px;
    width: calc(100% - 24px);
  }
}