/* Vote */

#sectionVote {
  flex-direction: column;
  align-items: center;
}

#voteEntries {
  height: calc(100% - 96px - 16px - 64px);
  margin-top: 16px;
  aspect-ratio: 2/1;
  margin-bottom: 64px;
  position: relative;
}

span#entriesVersus {
  border-radius: 999px;
  background-color: #000;
  font-size: 48px;
  position: absolute;
  width: 96px;
  padding-top: 4px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-family: "itc-avant-garde-gothic-lt-bold", sans-serif;
}

#sectionVote h2,
#sectionVote h3 {
  font-size: 48px;
  line-height: 1;
  text-align: center;
}

#sectionVote h2 {
  font-family: "AvantGarde-Book", sans-serif;
}

#voteFinished {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 96px - 16px);
  font-size: 36px;
  text-align: center;
  margin-top: 16px;
}

@media only screen and (max-width: 1023px) {
  #voteEntries {
    height: calc(100% - 48px - 16px);
    aspect-ratio: 1/2;
    margin-bottom: 0;
  }

  span#entriesVersus {
    display: none;
  }

  #voteFinished {
    height: calc(100% - 48px - 16px);
    font-size: 24px;
  }

  #sectionVote h2,
  #sectionVote h3 {
    font-size: 24px;
  }
}

/* Entry */

.voteEntry {
  height: 100%;
  float: left;
  aspect-ratio: 4/4;
}

.voteEntry button {
  display: block;
  margin: auto;
  margin-top: 16px;
  width: 112px;
}

@media only screen and (max-width: 1023px) {
  .voteEntry {
    height: 50%;
    float: none;
  }

  .voteEntry button {
    display: none;
  }
}