/* Vote */

#sectionVote {
  flex-direction: column;
  align-items: center;
}

#voteEntries {
  height: calc(100% - 96px - 16px);
  margin-top: 16px;
  aspect-ratio: 2/1;
}

#sectionVote h2 {
  font-family: "AvantGarde-Book", sans-serif;
}

#sectionVote h2,
#sectionVote h3 {
  font-size: 48px;
  line-height: 1;
}

/* Entry */

.voteEntry {
  height: 100%;
  aspect-ratio: 4/4;
  float: left;
}