/* Overlay */

@keyframes fadeIn1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

#overlayBg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#overlayWrapper {
	position: relative;
	margin: auto;
	padding: 8px;
	width: 100%;
	max-width: 360px;
}

#overlayWindow {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 32px;
	padding: 16px;
	animation: fadeIn1 ease-in .25s forwards;
	position: relative;
}

button#overlayClose {
	width: 32px;
	height: 32px;
	position: absolute;
	right: 16px;
	top: 16px;
}

button#overlayClose img {
	width: 16px;
	height: 16px;
}

#overlayWindow h2 {
	color: #000;
	font-size: 36px;
	padding: 40px;
	padding-top: 32px;
	padding-bottom: 16px;
	text-align: center;
	line-height: 1;
}

#overlayConnect button {
	width: 100%;
	background-color: #000;
	color: #FFF;
	margin-top: 16px;
}

#overlayConnect button img {
	height: 28px;
	margin-right: 8px;
}